<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Please fill out the form to play!</h1>
    <form action="/madlib">
        <p>Person: <input type="text" name="person"></p>
        <p>Color: <input type="text" name="color"></p>
        <p>Noun: <input type="text" name="noun"></p>
        <p>Adjective: <input type="text" name="adjective"></p>
        <p>Places: <input type="checkbox" name="places" value="onballoonicorn">on balloonicorn <input type="checkbox" name="places" value="ceiling">the ceiling <input type="checkbox" name="places" value="meggiesdesk">Meggie's desk</p>
        <p><input type="submit"></p>
    </form>
</body>
</html>